
.moveRight i {
    animation: moveArrowRight .5s ease-in-out 1;
}
@keyframes moveArrowRight {
    0% {left: 0}
    50% {left: 150%}
    51% {left: -50%}
    100% {left: 30%}
}


.moveLeft i {
    animation: moveArrowLeft .5s ease-in-out 1;
}
@keyframes moveArrowLeft {
    0% {left: 0}
    50% {left: -100%}
    51% {left: 200%}
    100% {left: 30%}
}


#btnChangeKeyAssignment {
    transition: 1s linear;
    animation: rotate 1.5s linear infinite;
}


.rotate-fast i {
    animation: rotate .25s ease-in-out 1; filter: blur(6px);
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    99.9999% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}


.moveDown i {
    animation: moveObjectDown .5s ease-in-out 1;
}
@keyframes moveObjectDown {
    0% {top: 0}
    50% {top: 150%}
    51% {top: -50%}
    100% {top: 30%}
}


.moveUp i {
    animation: moveObjectUp .5s ease-in-out 1;
}
@keyframes moveObjectUp {
    0% {bottom: 0}
    50% {bottom: 150%}
    51% {bottom: -50%}
    100% {bottom: 30%}
}




.sf2-move-right {
    animation: sf2MoveRight .5s ease-in-out 1;
}
@keyframes sf2MoveRight {
    0% {left: 0}
    50% {left: 150%}
    51% {left: -50%}
    100% {left: 30%}
}




.move-left i {
    animation: moveLeft .5s ease-in-out 1;
}
@keyframes moveLeft {
    0% { transform: translateX(0%); }
    49% { transform: translateX(-150%); }
    50% { transform: translateX(150%); }
    100% { transform: translateX(0%); }
}
.move-bottom-left-and-spin i {
    animation: moveBottomLeftAndSpin 1.5s ease-in-out 1;
}
@keyframes moveBottomLeftAndSpin {
    0% { transform: translate(0%, 0%) rotate(0deg); }
    33% { transform: translate(-150%, 150%) rotate(180deg); }
    34% { transform: translate(-150%, -150%) rotate(-180deg); }
    66% { transform: translate(150%, 150%) rotate(180deg); }
    67% { transform: translate(150%, -150%) rotate(-180deg); }
    100% { transform: translate(0%, 0%) rotate(0deg); }
}





.move-bottom-left i {
    animation: moveBottomLeft .5s ease-in-out 1;
}
@keyframes moveBottomLeft {
    0% { transform: translate(0%, 0%); }
    50% { transform: translate(-150%, 150%); }
    51% { transform: translate(150%, -150%); }
    100% { transform: translate(0%, 0%); }
}

.shake i {
    animation: animateShake .5s ease-in-out 1;
}
@keyframes animateShake {
    0% { transform: translateY(0%); }
    20% { transform: translateY(75%); }
    40% { transform: translateY(-75%); }
    60% { transform: translateY(75%); }
    80% { transform: translateY(-75%); }
    100% { transform: translateY(0%); }
}

.midi-move-right i {
    animation: moveMidiRight .5s ease-in-out 1;
}
@keyframes moveMidiRight {
    0% {transform: translateX(0%);}
    50% {transform: translateX(150%);}
    51% {transform: translateX(-150%);}
    100% {transform: translateX(0%);}
}

.rotate i { /* I dimed the blur here */
    animation: rotateNoBlur .25s ease-in-out 1; filter: blur(2px);
}
@keyframes rotateNoBlur {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    99.9999% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

.rotate-left i {
    animation: rotateLeft .5s linear 1; filter: blur(3px);
}
@keyframes rotateLeft {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    99.9999% {transform: rotate(-360deg);}
    100% {transform: rotate(0deg);}
}

.rotate-sf2-pin i {
    animation: rotatePin .4s linear infinite; filter: blur(3px);
}
@keyframes rotatePin {
    0% {transform: rotate(30deg);}
    50% {transform: rotate(210deg);}
    100% {transform: rotate(390deg);}
}
