
#settingsGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    align-items: center;
}

.fa-scroll-up::before {content: "\f0de";}
.fa-scroll-down::before {content: "\f0dd";}

#btnScrollUp i {margin-top: 2vh; font-size: 5vh;}
#btnScrollDown i {margin-bottom: 2vh; font-size: 5vh;}

#btnScrollUp, #btnScrollDown {
    position: absolute;
    background-color: #ffffff00;
    box-shadow: none;
    width: 4vh;
    height: 3vh;
    border-radius: 0px;
    color: #000000cc;
}
#btnScrollUp {top: 0;}
#btnScrollDown {bottom: 0;}

#btnScrollDown:hover, #btnScrollUp:hover {
    background-color: #ffffff00;
    box-shadow: none;
    color: #550000cc;
    transform: scale(1.1);
}



#settings {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background-color: #98ECB9;
    box-shadow: 0 0 10px 3px #555;
    border-radius: 10vw;
    width: 98vw;
    height: 6.3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    overflow: hidden;
}
[id*="stage"] {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 6.3vw;
    max-height: 6.3vw;
}

btn {
    background-color: #e5fbef;
    box-shadow: 0 0 5px 2px #e5fbef;
    color: #1a0410;
    /* cursor: pointer; */
    cursor: help;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    font-size: 4vw;
    border-radius: 50%;
    transition: .5s ease-in-out;
    position: relative;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
btn i {
    position: absolute;
}
.active {
    background-color: #0f0;
    box-shadow: 0 0 5px 2px #0f0;
}
.non-active {
    background-color: #f00;
    box-shadow: 0 0 5px 2px #f00;
}

#buttonsContainer btn {
    box-shadow: 0 0 2px .5px #e5fbef;
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
    border-radius: 1vw;
}

.title {
    position: absolute;
    left: 2vw;
    font-size: 5vw;
    color: #ffffff88;
}




.fa-angles-left:before{content: "\f100";}
.fa-caret-left:before{content: "\f0d9";}
.fa-rotate:before {content: "\f2f1";}
.fa-dice-one:before{content: "\f525";} .fa-dice-six:before{content: "\f526";}
.fa-cog:before{content: "\f013";}
.fa-play::before {content: "\f04b";}
.fa-import:before{content: "\f019";}
.fa-caret-right:before{content: "\f0da";}
.fa-angles-right:before{content: "\f101";}
.fa-info::before {content: "\f129";}
.fa-settings::before {content: "\f7d9";}

.fa-folder::before {content: "\f07b";}
.fa-rename::before {content: "\f304";}
.fa-reset::before {content: "\f12d";}

.fa-volume-up::before {content: "\f028";}
.fa-volume-down::before {content: "\f027";}
.fa-volume-off::before {content: "\f026";}
.fa-volume-mute::before {content: "\f6a9";}

#btnScrollPreviousOctave{margin-right: 2vw;}
#btnScrollLeft{margin-right: 19.5vw;}

#btnChangeVisu{margin-right: 2vw; font-size: 3.5vw;}
#btnChangePianoMode{margin-right: 2vw; font-size: 3.5vw;}
#btnToggleSustainMode img {height: 3.5vw; width: 3.5vw;}
#btnChangeKeyAssignment{margin-left: 2vw;}
#volumeContainer{margin-left: 2vw;}

#btnScrollRight{margin-left: 19.5vw;}
#btnScrollNextOctave{margin-left: 2vw;}





#btnFX {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}
.sliderBar {
    width: 3.5vw;
    height: 0.5vw;
    background: #000;
    position: relative;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 .3vw rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;
}
.sliderBar [id*="knob"] {
    width: .5vw;
    height: .5vw;
    border: 0.3vw solid #000;
    background: #fff;
    position: relative;
    top: 50%;
    transform: translateX(.5vw) translateY(-50%);
    border-radius: 1vw;
    transition: .5s ease-in-out;
}
#knob2 {
    transform: translateX(2vw) translateY(-50%);
}
#btnFX:hover .sliderBar{
    background: #fff;
}
#btnFX:hover [id*="knob"] {
    border: 0.3vw solid #fff;
    background: #000;
}





.fa-file-upload::before{content: "\f574";}
.fa-microphone::before {content: "\f130";}
.fa-microphone-alt::before {content: "\f3c9";}
.fa-microphone-alt-slash::before {content: "\f539";}

.fa-pencil::before {content: "\f303";}
.fa-trash::before {content: "\f1f8";}
.fa-file-export::before {content: "\f56e";}

.fa-folder-open::before {content: "\f07c";}

.fa-thumbtack-slash::before {content: "\e68f";}
.fa-thumbtack::before {content: "\f08d";}

.fa-pause::before {content: "\f04c";}
.fa-remove::before {content: "\f00d";}
.fa-circle-play::before {content: "\f144";}
.fa-loop::before {content: "\f079";}

.fa-music::before {content: "\f001";}
.fa-copyright::before {content: "\f1f9";}
.fa-window-close::before {content: "\f410";}
.fa-sync-icon::before {content: "\f2ce"}
.fa-text::before {content: "\f4ad";}
.fa-tag::before {content: "\f02b";}

#btnRecord{font-size: 3.5vw;}
#btnImportMid{font-size: 3.5vw;}

#btnRecord i {margin-left: 0.5vw;}
#btnImportMid i {margin-bottom: 0.3vw;}

#btnForget{margin-right: 2vw; font-size: 4.5vw;}
#btnPause{margin-right: 1vw;}
#btnUpload{margin-left: 1vw; font-size: 3.5vw;}

#btnRemoveMid{margin-right: 1vw; font-size: 4.5vw;}
#btnPlay{margin-left: 1vw; font-size: 3.5vw;}
#btnLoop{margin-left: 2vw; font-size: 3.5vw;}

#btnLyrics {font-size: 1.2vw !important;}
#btnCopyright {font-size: 1.4vw !important;}
#btnText {font-size: 1.3vw !important;}
#btnTag {font-size: 1.2vw !important;}
#controls {margin-right: 5vw;}


#instrumentSelector {margin-left: 10vw; margin-right: 5vw;}
.fa-volume-off {margin-right: 0.85vw;}
.fa-volume-down {margin-right: 0.5vw;}
.fa-volume-mute {margin-right: 0.2vw;}


#progressSliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#progressText {
    align-items: center;
    text-align: center;
}
#progressValue, #finalProgress {font-weight: bold;}

#progressSlider {
    cursor: pointer;
    accent-color: #22C;
}
#speedContainer, #volumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2vw;
}
#speedContainer {margin-left: 1vw;}
#volumeContainer {width: 5vw !important;}
#speedSlider, #volumeSlider {
    cursor: pointer;
}
#speedValue, #volumeValue {font-weight: bold; font-size: 1.5vw;}

#speedSlider {
    accent-color: #000;
    height: 4vw;
    writing-mode: vertical-lr;
    direction: rtl;
}
#volumeSlider {
    accent-color: #B33;
    width: 5vw;
}

#btnTogglingSustainMode {
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}
#controls label {
    font-size: 1.5vw;
    max-width: 10vw;
}

#controls {
    align-items: center;
    margin-left: 1vw;
}

#buttonsContainer {
    width: 100%;
    justify-content: space-evenly;
}





/* I didn't have any place for the effects icons so I put it randomly over there... */
.fa-power-off::before {content: "\f011";}
.fa-reply::before {content: "\f3e5";}





#btnImportSf2 {font-size: 3.5vw;}

#btnRemoveSf2 {margin-right: 2vw; font-size: 4.5vw;}
#presetSelector {margin-right: 2vw;}
#btnSf2Settings {margin-right: 2vw; font-size: 3.5vw;}
/* SF2 Infos (#btnSf2Infos) */ /* Just to remember that I have a button here but it doesn't have any style */

#btnImportSf2 i {margin-bottom: 0.3vw;}
#btnSf2Infos i {margin-bottom: 0.3vw;}




btn:not(#btnToggleSustainMode, #btnClose, #btnScrollDown, #btnScrollUp, #btnNavLeft, #btnNavRight, #btnQuitEffects, #sustainBtn, #sf2ResetBtn, #sf2ApplyBtn, #sf2AnnulBtn, #sf2ConfirmBtn, #btnLoop, #reverbResetBtn, #reverbActivateBtn, #reverbImportBtn, #reverbImportClose, #chorusActivateBtn, #chorusResetBtn, #chorusSf2Btn, #adsrActivateBtn, #adsrResetBtn, #echoActivateBtn,
#echoResetBtn, #distortionActivateBtn, #distortionResetBtn):hover {
    background-color: #1a0410;
    box-shadow: 0 0 5px 2px #1a0410;
    color: #e5fbef;
    transform: scale(1.1);
}
#btnToggleSustainMode:hover {transform: scale(1.1);}

#buttonsContainer btn:hover {box-shadow: 0 0 2px .5px #1a0410;}
