/*
    There's not only dropdowns. Sometimes it's just only windows but because it seems like the first presets I did for the midi instruments playing or the SF2 presets, I named them the same way but there are not dropdowns. Anyways, it's already all really messy and desorganized so it's no big deal...
*/

#presetSelector {
    position: relative;
    font-family: sans-serif;
    z-index: 15;
}
#selectedPreset {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    font-size: 1.5vw;
    user-select: none;
    width: 30vw;
}
#presetDropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: fit-content;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: visible;
    z-index: 15;
    border: 1px solid #ccc;
    border-radius: .7vw;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
#presetHeader {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: #e9e9e9;
    border-bottom: 1px solid #ccc;
    padding: 1%;
}
.presetRow {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.presetRow:hover {
    background-color: #ddd;
}
.presetName { width: 20vw; font-size: 1.4vw; padding-left: 0.2vw; }
.bankID { width: 5vw; font-size: 1.4vw; }
.presetID { width: 5vw; font-size: 1.4vw; }

.key.undefinedKey {
    outline: 2px dashed red;
    outline-offset: -2px;
}
.undefinedKey::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ff000077;
    pointer-events: none;
}



#instrumentSelector {
    position: relative;
    font-family: sans-serif;
    z-index: 15;
}
#instrumentSelectorTitle {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 3vw;
    font-size: 1.5vw;
    user-select: none;
    width: 25vw;
}
#instrumentDropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: fit-content;
    max-height: 70vh;
    overflow-y: auto;
    z-index: 15;
    border: 1px solid #ccc;
    border-radius: .7vw;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
#instrumentHeader {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: #e9e9e9;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding: 1%;
}
.instrumentRow {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
    align-items: center;
    padding: 2%;
}
.instrumentRow:hover {
    background-color: #ddd;
}
.nameAndVolume {
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
    align-items: center;
}
.instrumentVolume {
    width: 20vw;
    font-size: 1.4vw;
}
.instrumentVolumeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 20vw;
    font-size: 1.4vw;
    padding-left: 0.2vw;
}
.instrumentName { width: 20vw; font-size: 1.4vw; padding-left: 0.2vw; }
.instrumentVolumeSlider { width: 15vw; cursor: pointer; }
.instrumentVolumeValue { width: 5vw; font-size: 1.4vw;}
.instrumentState { width: 5vw; font-size: 1.4vw; }
.instrumentBtnState {
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    align-content: center;
}
.instrumentBtnState:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,1);
}





#pianoPresetDropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    max-height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 15;
    border-radius: .7vw;
    box-shadow: -1px 1px 10px 6px rgba(255,0,255,.3);
}
#pianoPresetHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 1.8vw;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background-color: #f6d2f6;
    border-bottom: 2px solid #333;
    padding: 1%;
}
#pianoModes {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
#pianoMode1, #pianoMode2 {
    display: flex;
    flex-direction: column;
}
#pianoMode1 {
    border-right: 2px solid #333;
}
#pianoMode1Title, #pianoMode2Title {
    display: flex;
    font-size: 2.5vw;
    justify-content: center;
    align-items: center;
    height: 3vw;
}
#pianoPreset1, #pianoPreset2 {
    display: flex;
    flex-direction: column;
}

.pianoPresetRow {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #555;
    height: 3vw;
    justify-content: center;
    align-items: center;
}
.pianoPresetRow:hover {
    background-color: rgba(255, 0, 255, .1);
}

.pianoPresetNameBox {
    display: flex;
    width: 20vw;
    justify-content: left;
    align-items: center;
    height: 80%;
    border-right: 1px solid #555;
}
.pianoPresetName {
    font-size: 1.2vw;
    color: #505;
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
}
.pianoPresetRename {
    display: none;
    font-family: inherit;
    font-size: 1.2vw;
    color: #505;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
}

.pianoPresetRenameBox {
    display: flex;
    width: 5vw;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-right: 1px solid #555;
}
.pianoPresetRenameBtn {
    font-size: 1vw;
    width: 2vw;
    height: 2vw;
    background-color: #ffd2f0;
    box-shadow: 0 0 5px 2px #ffd2f0;
}
.pianoPresetRenameBtn:hover {
    background-color: rgba(255, 0, 255, .4) !important;
    box-shadow: 0 0 5px 2px rgba(255, 0, 255, .4) !important;
    transform: scale(1.2) !important;
}

.pianoPresetResetBox {
    display: flex;
    width: 5vw;
    justify-content: center;
    align-items: center;
}
.pianoPresetResetBtn {
    font-size: 1vw;
    width: 2vw;
    height: 2vw;
    background-color: #ffd2f0;
    box-shadow: 0 0 5px 2px #ffd2f0;
}
.pianoPresetResetBtn:hover {
    background-color: rgba(255, 0, 255, .4) !important;
    box-shadow: 0 0 5px 2px rgba(255, 0, 255, .4) !important;
    transform: scale(1.2) !important;
}


.selectedPianoPreset {
    background-color: rgba(255, 0, 255, .2);
}
.selectedPianoPreset:hover {
    background-color: rgba(255, 0, 255, .4);
}



#recentMidiFilesWindow, #recentSf2FilesWindow, #recentWavFilesWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: fit-content;
    z-index: 20;
    border: 2px solid #ccc;
    border-radius: 3vw;
    overflow: hidden;
}
#recentWavFilesWindow { z-index: 1010; }

#recentMidiFilesWindow { box-shadow: 0 0 10px 5px #f83; }
#recentMidiFilesWindow .recentFilesRow {
    background-color: #fd4;
    border-bottom: 1px solid #da2;
}
#recentSf2FilesWindow { box-shadow: 0 0 10px 5px #5aa; }
#recentSf2FilesWindow .recentFilesRow {
    background-color: #5cc;
    border-bottom: 1px solid #333;
}
#recentWavFilesWindow { box-shadow: 0 0 10px 5px #f80; }
#recentWavFilesWindow .recentFilesRow {
    background-color: #fa5;
    border-bottom: 1px solid #a50;
}

.recentFilesRow {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 5vw;
    cursor: pointer;
}
.recentFilesName {
    position: relative;
    display: block;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    font-size: 1.5vw;
}

#recentMidiFilesWindow .recentFilesRow {
    height: 8vh !important;
}
.recentMidiFilesName {
    position: relative;
    display: block;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    font-size: 2.7vh;
}

.recentSf2FilesNameBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    height: 80%;
    padding-left: 2%;
    box-sizing: border-box;
    border-right: 1px solid #3aa;
}
.recentSf2FilesName {
    position: relative;
    display: block;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    font-size: 1.5vw;
}
.recentSf2FilesPin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    font-size: 2.5vw;
    cursor: help;
}
.recentSf2FilesPin i {
    transform: rotate(30deg);
}
.recentSf2FilesSize {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20%;
    height: 80%;
    cursor: auto;
    font-size: 1.5vw;
}
.tooHeavySf2 .recentSf2FilesNameBox {
    width: 70%;
    border-right: 1px solid #f00;
}
.tooHeavySf2 .recentSf2FilesSize {
    border-left: 1px solid #f00;
    color: #f00;
    font-weight: bold;
}
.tooHeavySf2 {
    background-color: #c88 !important;
}


