
#carouselWrapper {
    display: flex;
    /* overflow: hidden; */ /* Because I don't want to hide the window coming from under the screen. It's what gives all the beauty to this effect !! */
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 2vw;
    perspective: 1500vw;
    perspective-origin: center center;
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: center center;
    transform: rotateZ(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel [id*="Screen"] {
    position: absolute;
    width: 97%;
    height: 97%;
    background: #222;
    color: white;
    padding: 5%;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    border-radius: 2vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;
}

.effectTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: xx-large;
    z-index: 900;
}



[id*="btnNav"] {
    transition: .3s ease-in-out;
    position: absolute;
    z-index: 501;
}
.fa-arrow-left::before { content: "\f060"; }
#btnNavLeft {
    left: 2vw;
    background-color: rgba(26, 26, 26, .6);
    box-shadow: 0 0 5px 2px rgba(26, 26, 26, .6);
    color: #ccc;
}
.fa-arrow-right::before { content: "\f061"; }
#btnNavRight {
    right: 2vw;
    background-color: rgba(26, 26, 26, .6);
    box-shadow: 0 0 5px 2px rgba(26, 26, 26, .6);
    color: #ccc;
}
#btnNavLeft:hover, #btnNavRight:hover {
    background-color: #1a1a1a;
    box-shadow: 0 0 5px 2px #1a1a1a;
    color: #fff;
    transform: scale(1.1);
}

.fa-close::before { content: "\f00d"; }
#btnQuitEffects {
    transition: .3s ease-in-out;
    position: fixed;
    top: 2vw;
    right: 2vw;
    background-color: rgba(26, 26, 26, .6);
    box-shadow: 0 0 5px 2px rgba(26, 26, 26, .6);
    color: #e74c3c;
}
#btnQuitEffects:hover {
    background-color: #1a1a1a;
    box-shadow: 0 0 5px 2px #1a1a1a;
    color: #ff6b61;
    transform: scale(1.1);
}


/* _____________________________________________ Shortcut Buttons ______________________________ */


[id*="effectShortcutBtn"] {
    width: 13vw;
    height: 3vw !important;
    border-radius: 2vw;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    font-size: 2.5vw;
}
#effectShortcutBtn1 { margin-right: 3vw; }
#effectShortcutBtn2 { margin-right:6vw; }
#effectShortcutBtn3 { margin-left:6vw; }
#effectShortcutBtn4 { margin-left: 3vw; }


/* _____________________________________________ Volume ________________________________________ */


#volumeScreen {
    padding: 0 !important;
}
#volumeContent {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

@keyframes oscillate {
  0%, 100% { box-shadow: inset -1em -1.8em 1em .5em #000; }
  50%      { box-shadow: inset -1.5em -2.7em 1em .5em #000; }
}
[id*="volumeControl"] {
    position: relative;
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(210deg);
    filter: blur(40%);
    z-index: 700;
}

[id*="volumeControl"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        #0af 0deg 300deg,
        transparent 300deg 360deg
    );
    mask: radial-gradient(circle at center, transparent 65%, #222 65%);
    -webkit-mask: radial-gradient(circle at center, transparent 65%, #222 65%);
    pointer-events: none;
}
/* It's in order to put the shadow BELOW the SVG wave... */
#volumeControl2 {
    position: absolute;
    z-index: 510 !important;
    animation: oscillate 4s infinite;
}

@keyframes pulse {
    0%, 100% { box-shadow: 0 0 0.3vw rgba(0, 170, 255, 0.6); }
    50%      { box-shadow: 0 0 1vw rgba(0, 170, 255, 0.8); }
}
#volumeKnob {
    position: absolute;
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 50%;
    background: white;
    border: 0.3vw solid #0af;
    transform: translateX(-50%) translateY(-50%) rotate(-210deg);
    cursor: grab;
    pointer-events: auto;
    animation: pulse 2s infinite;
    z-index: 800;
}
#volumeKnob:active {
    cursor: grabbing;
}


#volumeText {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
}


#volumeSVG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 550;
    border-radius: inherit;
}


/* _____________________________________________ Sustain _______________________________________ */


#sustainScreen {
    padding: 0 !important;
}
#sustainScreen .effectTitle {
    top: 10%;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.2em .5em;
    border-radius: 1em;
    display: inline-block;
    box-shadow:
        0 0 .5em rgba(0, 0, 0, 0.4),
        0 0 1.5em rgba(0, 0, 0, 0.4),
        0 0 3em rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

#sustainContent {
    position: relative;
    height: 100%;
    width: 100%;
}

#sustainBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    background-color: #e0f7ff;
    box-shadow: 0 0 5px 2px #1a0410;
}
#sustainBtn:hover {
    transform: translate(-50%, -50%) scale(1.1) !important;
    background-color: #a4d5ef;
    box-shadow: 0 0 10px 4px #1a0410;
}
#sustainBtn img {
    height: 7vw;
    width: 7vw;
}


/* _____________________________________________ Panoramic _____________________________________ */


#panoramicScreen {
    padding: 0 !important;
}
#panoramicContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#panoramicScreen .effectTitle {
    position: relative !important;
    top: 0;
    left: 0;
    transform: none;
    font-size: 2.5vw;
}

#panoramicView {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 2vw;
    /* background-color: #0af; */
    background: radial-gradient(
        #00aaff 10%,
        #22bbff 20%,
        #00aaff 40%,
        #22bbff 55%,
        #00aaff 80%,
        #22bbff 100%
    );
}
#panoramicKnob {
    cursor: grab;
    pointer-events: auto;
    animation: pulseKnob 2s infinite;
    stroke: #000;
    stroke-width: 0.01;
}
#panoramicKnob:active {
    cursor: grabbing;
}
@keyframes pulseKnob {
    0%, 100% { r: 0.05; }
    50%      { r: 0.06; }
}


#panoramicSettings {
    position: relative;
    height: 100%;
    border-radius: 2vw;
    /* background-color: #f0a; */
    background: linear-gradient(
        to top,
        #ff00aa 0%,
        #ff44cc 20%,
        #ff00aa 40%,
        #ff44cc 60%,
        #ff00aa 80%,
        #ff44cc 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

[id*="BtnLabel"] {
    background-color: rgba(230, 80, 80, 1);
    border: 2px #fff solid;
    padding: .5vw;
    border-radius: .5vw;
    font-size: 1.5vw;
    transition: .3s ease-in-out;
    cursor: pointer;
}
[id*="BtnLabel"]:hover {
    box-shadow: 2px 2px 5px 2px #fff;
}

#moveSpeedBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#moveSpeedSlider {
    width: 10vw;
    pointer-events: all;
    transition: .5s ease-in-out;
}
#moveSpeedBox:hover > #moveSpeedSlider {
    transform: scale(1.2);
}
#moveSpeedSlider:active {
    transform: scale(1) !important;
    width: 75%;
}

#settingsBox {
    display: flex;
    flex-direction: row;
}
#playModeBtnLabel {
    margin-right: 1vw;
}
#loopModeBtnLabel {
    margin-left: 1vw
}


/* _____________________________________________ Reverb ________________________________________ */


#reverbScreen {
    padding: 0 !important;
    box-shadow: 0 0 1.5vw rgba(255, 128, 0, .4) !important;
}
#reverbContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 0, .8);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#reverbScreen .effectTitle {
    top: 30%;
    color: #000;
    box-shadow: 0 0 5px 2px #fff;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: .5%;
    padding-bottom: .5%;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    z-index: 0;
}

#reverbTop, #reverbBottom {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
#reverbTop {
    height: 25%;
    border-bottom: 2px solid #660;
}
#reverbBottom {
    height: 75%;
}

#reverbFreqBox, #reverbMixBox {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#reverbFreqSVG circle, #reverbMixSVG circle {
    cursor: grab;
}
#reverbFreqValue, #reverbFreqTrueValue, #reverbMixValue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: #f00;
}
#reverbFreqTitle, #reverbMixTitle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: bold;
    color: #f00;
}
#reverbFreqValue { top: 40%; }

#reverbActivateBox, #reverbImportBox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
#reverbActivateBox {
    justify-content: space-evenly;
    padding-right: 10%;
    box-sizing: border-box;
}
#reverbResetBtn {font-size: 3.5vw;}
#reverbResetBtn i {margin-bottom: 0.3vw;}

#reverbImportBtn { font-size: 3.5vw; }
#reverbImportBtn i { margin-bottom: 0.3vw; }

#reverbNameBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#reverbImportName {
    height: fit-content;
    position: relative;
    display: block;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10%;
    max-width: 70%;
    font-size: 1.5vw;
    background-color: #f80;
    border: 2px solid #f50;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 2vw;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
}
#reverbImportClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 2vw;
    height: 2vw;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}
#reverbImportClose:hover {
    background-color: #1a0410;
    box-shadow: 0 0 5px 2px #1a0410;
    color: #e5fbef;
    transform: translate(-50%, -50%) scale(1.1);
}

#reverbImportBtn, #reverbResetBtn, #reverbActivateBtn {
    background-color: #444;
    box-shadow: 0 0 5px 2px #444;
    color: #d60;
}
#reverbImportBtn:hover, #reverbResetBtn:hover, #reverbActivateBtn:hover {
    background-color: #222;
    box-shadow: 0 0 5px 2px #222;
    color: #f80;
    transform: scale(1.1);
}

#reverbActivateBtn {
    font-size: 3.5vw;
    z-index: 1005;
}
#reverbMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}


/* _____________________________________________ chorus ________________________________________ */


#chorusScreen {
    padding: 0 !important;
    box-shadow: 0 0 1.5vw rgba(255, 128, 128, .4) !important;
}
#chorusContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #2a9;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#chorusScreen .effectTitle {
    position: absolute;
    top: auto;
    left: 25%;
    transform: translateX(-50%);
    z-index: 0;
    color: #fcc;
}

#chorusTop, #chorusSliders {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
#chorusTop {
    height: 20%;
    border-bottom: 2px solid #154;
}
#chorusSliders {
    height: 80%;
}

#chorusActivateBtn, #chorusResetBtn {
    position: absolute;
    transform: translateX(-50%);
    font-size: 3.5vw;
    background-color: #444;
    box-shadow: 0 0 5px 2px #444;
    color: #f99;
}
#chorusActivateBtn { left: 50%; z-index: 1005; }
#chorusResetBtn { left: 70%; }
#chorusResetBtn i { margin-bottom: 0.3vw; }
#chorusActivateBtn:hover, #chorusResetBtn:hover {
    background-color: #222;
    box-shadow: 0 0 5px 2px #222;
    color: #f66;
    transform: translateX(-50%) scale(1.1);
}
#chorusSf2Btn {
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
}
#chorusSf2Btn:hover {
    transform: translateX(-50%) scale(1.1);
}
#chorusMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#chorusSliders {
    flex-direction: column;
}
#chorusTopSliders, #chorusBottomSliders {
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
}
#chorusRateBox, #chorusDepthBox, #chorusDelayTimeBox, #chorusMixBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
#chorusRateSVG circle, #chorusDepthSVG circle, #chorusDelayTimeSVG circle, #chorusMixSVG circle {
    cursor: grab;
}

#chorusRateTitle, #chorusDepthTitle, #chorusDelayTimeTitle, #chorusMixTitle {
    position: absolute;
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: #444;
}
#chorusRateSVG, #chorusDepthSVG, #chorusDelayTimeSVG, #chorusMixSVG {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
#chorusRateValue, #chorusDepthValue, #chorusDelayTimeValue, #chorusMixValue {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: bold;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fcc;
}
#chorusRateTrueValue, #chorusDepthTrueValue, #chorusDelayTimeTrueValue, #chorusMixTrueValue {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: bold;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}


/* _____________________________________________ ADSR __________________________________________ */


#adsrScreen {
    padding: 0 !important;
    box-shadow: 0 0 1.5vw rgba(231, 220, 245, .4) !important;
}
#adsrContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1f0c25;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#adsrScreen .effectTitle {
    position: absolute;
    z-index: 0;
    color: #e8dbf5;
}

#adsrActivateBtn, #adsrResetBtn {
    position: absolute;
    width: 4vw;
    height: 4vw;
    transform: translateX(-50%);
    background-color: #444;
    box-shadow: 0 0 5px 2px #444;
    color: #e09ed4;
}
#adsrActivateBtn { left: 20%; z-index: 1005; font-size: 3vw; }
#adsrResetBtn { left: 80%; font-size: 2.5vw; }
#adsrResetBtn i { margin-bottom: 0.3vw; }
#adsrActivateBtn:hover, #adsrResetBtn:hover {
    background-color: #666;
    box-shadow: 0 0 5px 2px #666;
    color: #fbf;
    transform: translateX(-50%) scale(1.1);
}
#adsrMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#adsrTop {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #434;
}
#adsrBottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}
#adsrBottom circle {
    cursor: grab;
}

#adsrAttackText, #adsrHoldText, #adsrDecayText, #adsrSustainText, #adsrReleaseText {
    position: absolute;
    font-size: 1.5vw;
    transform: translate(-50%, -50%);
    color: #ece;
}
#adsrAttackText { top: 5%; left: 18%; }
#adsrHoldText { top: 95%; left: 34%; }
#adsrDecayText { top: 5%; left: 50%; }
#adsrSustainText { top: 95%; left: 66%; }
#adsrReleaseText { top: 5%; left: 82%; }


/* _____________________________________________ Echo __________________________________________ */


#echoScreen {
    padding: 0 !important;
    box-shadow: 0 0 1.5vw rgba(50, 200, 50, .4) !important;
}
#echoContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #042804;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#echoScreen .effectTitle {
    position: absolute;
    left: 75%;
    z-index: 0;
    color: #dfd;
}

#echoActivateBtn, #echoResetBtn {
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    transform: translateX(-50%);
    background-color: #444;
    box-shadow: 0 0 5px 2px #444;
    color: #5c5;
}
#echoActivateBtn { left: 50%; z-index: 1005; font-size: 2.5vw; }
#echoResetBtn { left: 15%; font-size: 2.3vw; }
#echoResetBtn i { margin-bottom: 0.3vw; }
#echoActivateBtn:hover, #echoResetBtn:hover {
    background-color: #666;
    box-shadow: 0 0 5px 2px #666;
    color: #6e6;
    transform: translateX(-50%) scale(1.1);
}
#echoMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#echoTop {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #252;
}
#echoSliders {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

#echoDelayBox, #echoFeedbackBox, #echoMixBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
}

#echoDelaySVG, #echoFeedbackSVG {
    position: absolute;
    bottom: 0;
}
#echoMixSVG {
    position: absolute;
    top: 0;
}
#echoSliders circle {
    cursor: grab;
}

#echoDelayText, #echoMixText, #echoFeedbackText {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: #cfc;
}
#echoDelayText, #echoFeedbackText { top: 0; }
#echoMixText { bottom: 0; }

#echoDelayTitle, #echoMixTitle, #echoFeedbackTitle {
    font-size: 2vw;
}
#echoDelayValue, #echoMixValue, #echoFeedbackValue {
    font-size: 2vw;
    font-weight: bold;
}


/* _____________________________________________ Distortion ____________________________________ */


#distortionScreen {
    padding: 0 !important;
    box-shadow: 0 0 1.5vw rgba(200, 50, 50, .4) !important;
}
#distortionContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #280404;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#distortionScreen .effectTitle {
    position: absolute;
    left: 25%;
    z-index: 0;
    color: #fdd;
}

#distortionActivateBtn, #distortionResetBtn {
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    transform: translateX(-50%);
    background-color: #444;
    box-shadow: 0 0 5px 2px #444;
    color: #c55;
}
#distortionActivateBtn { left: 50%; z-index: 1005; font-size: 2.5vw; }
#distortionResetBtn { left: 85%; font-size: 2.3vw; }
#distortionResetBtn i { margin-bottom: 0.3vw; }
#distortionActivateBtn:hover, #distortionResetBtn:hover {
    background-color: #666;
    box-shadow: 0 0 5px 2px #666;
    color: #e66;
    transform: translateX(-50%) scale(1.1);
}
#distortionMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#distortionTop {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #522;
}
#distortionSliders {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

#distortionMixBox, #distortionBandWidthBox, #distortionLowPassBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
}
#distortionMixBox, #distortionBandWidthBox {
    border-right: 1px solid #411;
}
#distortionMixSliderBox, #distortionBandWidthSliderBox, #distortionLowPassSliderBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
}

#distortionMixSVG circle, #distortionBandWidthSVG circle, #distortionLowPassSVG circle {
    cursor: grab;
}

#distortionMixText, #distortionBandWidthText, #distortionLowPassText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
}
#distortionMixTitle, #distortionBandWidthTitle, #distortionLowPassTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: #fdd;
}
#distortionMixValue, #distortionBandWidthValue, #distortionLowPassValue {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: #faa;
}
#distortionMixTrueValue, #distortionBandWidthTrueValue, #distortionLowPassTrueValue {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: bold;
    color: #f88;
}


/* _____________________________________________ Metronome _____________________________________ */


#metronomeScreen {
    padding: 0 !important;
}
#metronomeScreen .effectTitle {
    top: 10%;
}

#metronomeContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#metronomeBtn {
    position: absolute;
    width: 10vw;
    height: 10vw;
}
#metronomeBtn img {
    width: 75%;
    height: 75%;
}
#metronomeSliderBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 70%;
    width: 100%;
    height: fit-content;
}
#metronomeSlider {
    position: relative;
    width: 40%;
}
#metronomeText {
    margin-top: 2vw;
    font-size: 3vw;
    font-weight: bold;
}
#metronomeTempo {
    font-size: 2vw;
}
