
#piano {
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 5vh;
	width: 96.5vw;
    height: 55vh;
    background-color: #333;
    position: relative;
	overflow: hidden;
    border-radius: 10px;
	border: 2px solid #333;
    box-shadow: -1px -1px 10px 0 #333, 1px 1px 10px 0 #333;
    display: flex;
    flex-direction: row;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
[id*="octave"] {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.whiteKey {
    height: 100%;
    width: var(--widthWhiteKey);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #FFF;
    box-sizing: border-box;
    border: 1px solid #000;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    z-index: 1;
}
#piano > :nth-child(1) > :nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.whiteKey:hover {background-color: #ccc;}
.keyplayed_whiteKey {background-color: #aaa;}
.keypressed_whiteKey {background-color: #888;}
.sharpKey {
    height: 33vh;
    width: var(--widthBlackKey);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #000;
    color: #FFF;
    position: absolute;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 2;
}
.sharpKey:hover {background-color: #333;}
.keyplayed_sharpKey {background-color: #555;}
.keypressed_sharpKey {background-color: #777;}
.Cs { margin-left: var(--csPosition); }
.Ds { margin-left: var(--dsPosition); }
.Fs { margin-left: var(--fsPosition); }
.Gs { margin-left: var(--gsPosition); }
.As { margin-left: var(--asPosition); }
#octave-2 .As {margin-left: var(--csPosition);}

.keyShortcut {
    position: absolute;
    font-size: .8em;
    margin-bottom: 5vh;
    text-wrap: wrap;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 15vh;
    overflow: hidden;
    will-change: transform;
}
.key {
    margin-left: auto;
    margin-right: auto;
}
.sharpKey .keyShortcut {color: #999;}
.whiteKey .keyShortcut {color: #666;}

.keyShortcutBox {
    position: relative;
    text-wrap: wrap;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 15vh;
    will-change: transform;
}

@keyframes scroll-vertical {
    0%, 5% { transform: translateY(0); }
    95%, 100% { transform: translateY(var(--scroll-distance)); }
}
