
#selectionContainer, #settingsContainer, #effectsContainer, #sf2SettingsContainer, #sf2SettingsWindowContainer {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 500;
    box-sizing: border-box;
}
#selectionScreen, #settingsScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: fit-content;
    max-height: 90vh;
    background-color: #FFF;
    border: 5px solid #000;
    border-radius: 5vw;
    justify-content: space-between;
    user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    overflow: hidden;
}
#selectionScreen {
    padding: 2%;
}



[id*="line"] {
    font-size: 4vw;
    text-align: center;
    text-wrap: wrap;
}
#line2, #line4 {color: #F00;}



#settingsScreen {
    border-top-right-radius: 0vw;
    align-items: center;
    justify-content: center;
    max-width: 60vw;
}

#btnClose {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3vw;
    box-shadow: none;
    background-color: #000;
    color: #FFF;
    height: 2.2vw;
    width: 2.9vw;
    border-radius: 0vw;
    transition: none;
}
#btnClose:hover {color: #C22; background-color: #FFF;}

#settingsContent {
    max-height: 80vh;
    text-align: center;
    align-items: center;
    overflow: auto;
    width: inherit;
    white-space: pre-line;
    margin-right: 1.45vw;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
    margin-top: 2.2vw;
    margin-bottom: 2.2vw;
}
#settingsContent :last-child {
    margin-bottom: 0vw;
}

[id*="Line"] {
    max-width: 100%;
    font-size: 2.5vw;
    margin-bottom: 1.5vw;
}

.highlight {
    font-size: 3vw;
    color: #C22;
    font-weight: bold;
}

#btnSync {
    position: absolute;
    bottom: 2vw;
    height: 2vw;
    width: 10vw;
    font-size: 2vw;
    background-color: #8ec6a8;
    display: flex;
    flex-direction: row;
    padding: .5vw;
    border-radius: 2vw;
    margin-right: 1.45vw;
}
#btnSync div, #btnSync i {
    position: relative;
    margin-left: .5vw;
    margin-right: .5vw;
}



#btnDisplayExplanations {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.3vw;
    width: 1.3vw;
    background-color: #00f;
    box-shadow: none;
    cursor: pointer;
    transition: none;
}
#btnDisplayExplanations i {
    font-size: .9vw;
}

#dontShowAgainBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
}
.level1 {
    padding-left: 0em;
    font-size: x-large;
    font-weight: bold;
    margin-top: 1em;
    color: #000;
}
.level2 {
    padding-left: 2em;
    font-size: large;
    font-weight: 600;
    margin-top: 0.6em;
    color: #555;
}
.level3 {
    padding-left: 4em;
    font-size: medium;
    font-weight: normal;
    margin-top: 0.3em;
    color: #999;
}


#sf2SettingsScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: fit-content;
    max-height: 90vh;
    height: 80vh;
    background-color: #333;
    border: 5px solid #111;
    box-shadow: 0 0 10px 5px #111;
    border-radius: 5vw;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    margin-top: 10vh;
}
#sf2SettingsTitle {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    background-color: #ddd;
    padding: .5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 4vh;
    box-shadow: 0 0 10px 5px #ddd;
}

#sf2Settings {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 100%;
    justify-content: space-between;
}
#sf2Controls {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    align-items: center;
}

#leftSide, #rightSide {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
    background-color: #222;
}
#leftSide {border-bottom-right-radius: 5vw;}
#rightSide {border-bottom-left-radius: 5vw;}

#trimFileBox, #allNotesBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 2%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#trimFileBtnLabel {
    position: absolute;
    top: 10%;
}

#sf2MaxDurationBox, #sf2DefaultDurationBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 5vw;
    padding: 2%;
    box-sizing: border-box;
    color: #fff;
    top: 50%;
    width: 20vw;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.3vw;
}
#sf2MaxDurationSlider, #sf2DefaultDurationSlider {
    width: 15vw;
}



#rightSide > * {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#sf2DrumKitTitle {
    height: 10%;
    font-size: 3.5vw;
    color: #eee;
}
#sf2DrumKitOther {
    height: 90%;
    display: flex;
    flex-direction: column;
}
#sf2DrumKitNotes {
    font-size: 3.5vw;
    color: #999;
}
#sf2DrumKitDropdown {
    flex-direction: column;
    background-color: #ddd;
    height: fit-content;
    width: 80% !important;
    border-radius: .7vw;
    overflow-x: visible;
    overflow-y: auto;
    max-height: 90%;
    border: 1px solid #000;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
    text-align: left;
    position: relative;
}

#sf2PresetHeader {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: #e9e9e9;
    border-bottom: 1px solid #ccc;
    padding: 1%;
}

.sf2PresetRow {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.selectedDrumKit {
    background-color: #ccf !important;
}
.sf2PresetRow:hover {
    background-color: #ddd;
}
.selectedDrumKit:hover {
    background-color: #aad !important;
}

.sf2PresetName { width: 80%; font-size: 1.4vw; padding-left: 0.2vw; }
.sf2PresetID { width: 20%; font-size: 1.4vw; }



#sf2ResetBtn, #sf2ResetText, #sf2ApplyBtn, #sf2AnnulBtn {
    position: absolute;
    width: fit-content;
    height: 2vw;
    transform: translateX(-50%);
    font-size: large;
    border-radius: 2vw;
    padding: 1%;
    background-color: #ddd;
    box-shadow: 0 0 5px 2px #ddd;
    color: #000;
    align-items: center;
    justify-content: center;
}
#sf2ResetText {
    position: relative;
    transform: translateX(0%);
    white-space: nowrap;
    height: fit-content;
    transition: .5s ease-in-out;
    box-shadow: none;
}
#sf2ResetBtn:hover, #sf2ApplyBtn:hover, #sf2AnnulBtn:hover {
    background-color: #222;
    box-shadow: 0 0 5px 2px #222;
    color: #ddd;
    transform: translateX(-50%) scale(1.1);
}
#sf2ResetBtn { left: 20%; }
#sf2ApplyBtn { left: 50%; }
#sf2AnnulBtn { left: 80%; }

#sf2SettingsWindowContainer {z-index: 1001;}
#sf2SettingsWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1002;
    height: fit-content;
    width: 50%;
    padding: 3%;
    align-items: center;
    text-align: center;
    justify-content: center;
    white-space: pre-line;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    overflow: hidden;
    font-size: x-large;
    border-radius: 5vw;
    border: 5px solid #222;
    box-shadow: 0 0 10px 5px #ccc;
}

#sf2WindowBtns {
    position: relative;
    width: 100%;
    margin-top: 2vw;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

#sf2CancelBtn, #sf2ConfirmBtn {
    position: relative;
    width: fit-content;
    height: 2vw;
    font-size: large;
    border-radius: 2vw;
    padding: 1%;
    background-color: #222;
    box-shadow: 0 0 5px 2px #222;
    color: #ddd;
}
#sf2ConfirmBtn:hover {
    background-color: #ddd;
    box-shadow: 0 0 5px 2px #ddd;
    color: #000;
    transform: scale(1.1);
}




#btnOpenPresetAssignment {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.3vw;
    width: 1.3vw;
    background-color: #c0c;
    box-shadow: none;
    cursor: pointer;
    transition: none;
}

#btnOpenPresetAssignment i {
    font-size: .8vw;
}


/* __________________________________________ Tooltip __________________________________________ */


.tooltip {
    position: absolute;
    padding: 6px 10px;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    font-size: 0.8rem;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 999;
    white-space: nowrap;
    max-width: 30vw;
    white-space: pre-line;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}
